AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=
AIRFLOW_DB_NAME=

DWH_DB_USER=
DWH_DB_PASSWORD=
DWH_DB_NAME=

AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=

# Для FastAPI база находится в контейнере postgres-dwh
# Внутри Docker сети нужно использовать имя сервиса и стандартный порт 5432
DATABASE_URL=

# Если понадобятся ключи API или другие настройки
PYTHONPATH=